---
layout: default
title: Home
---

<section id="highlight" class="py-24">
    <div class="m-auto max-w-[90%] md:max-w-[46rem]">
        <div class='row px-2 xs:px-0'>
            <div class='column'>
                <div class='left-column'>
                    <img src="/assets/images/me.JPG" />
                </div>
            </div>
            <div class='double-column py-10 sm:py-0.5 px-8'>
                <div class='right-column'>
                    <h1 id='name' class="font-extrabold mb-4 text-3xl xs:text-4xl"></h1>
                    <p class="font-normal text-lg">
                        Data Scientist and Python programmer. <br />
                        Read more about me <a href="/about">here</a>. <br />
                        Find me on
                        <a href="{{ site.social.github }}" target="_blank">GitHub</a>,
                        <a href="{{ site.social.twitter }}" target="_blank">Twitter</a>,
                        <a href="{{ site.social.kaggle }}" target="_blank">Kaggle</a> and
                        <a href="{{ site.social.linkedin }}" target="_blank">LinkedIn</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-zinc-50">
    <div class="m-auto max-w-[90%] md:max-w-[44rem]">
        <h1 class="font-bold mb-5 text-3xl xs:text-4xl">About Me</h1>
        <div class="text-slate-600 text-lg xs:text-xl">
            <p class="mb-2">
                I'm a Data Scientist in the UK with 2 years of experience.
            </p>
            <p class="mb-2">
                I build AI and machine learning systems.
            </p>
            <p class="mb-2">
                I enjoy extracting insights from data.
            </p>
            <p>
                I am also a highly proficient Python programmer.
            </p>
        </div>
    </div>
</section>
<section>
    <div class="m-auto max-w-[90%] md:max-w-[44rem]">
        <h1 class="font-bold mb-10 text-3xl xs:text-4xl">Projects</h1>
        {% include project-list.html %}
    </div>
</section>
<section class="bg-zinc-50">
    <div class="m-auto max-w-[90%] md:max-w-[44rem]">
        <h1 class="font-bold mb-10 text-3xl xs:text-4xl">Posts</h1>
        {% include post-list.html %}
    </div>
</section>
{% include newsletter.html %}