<section id="about" class="bg-zinc-50">
    <div class="inner-container">
        <h2>About Me</h2>
        <hr />
        <div class="row">
            <div class="double-column py-4 text-slate-700 text-lg sm:text-xl mr-none lg:mr-20">
                <div class="left-column">
                    <p class="mb-2">
                        I'm a Data Scientist in the UK with 2 years experience.
                    </p>
                    <p class="mb-2">
                        I build AI and machine learning systems.
                    </p>
                    <p class="mb-2">
                        I enjoy extracting insights from data.
                    </p>
                    <p class="mb-2">
                        I'm also a proficient Python programmer.
                    </p>
                    <p>
                        You can read more about me <a href="/about">here</a>.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="right-column">
                    <img src="/assets/images/me.JPG" />
                </div>
            </div>
        </div>
    </div>
</section>