<section id="highlight" class="py-56">
    <div class="inner-container">
        <div class='px-2 xs:px-0'>
            <h1 id='name' class="font-bold mb-7 text-4xl xs:text-5xl"></h1>
            <p class="text-slate-600 mb-7 text-xl xs:text-2xl">
                Data Scientist | Python Engineer
            </p>
            <div class="my-8 text-gray-800 font-bold text-sm xs:text-lg">
                <a href="/about" class="text-center block max-w-[150px] xs:inline-block bg-zinc-100 hover:bg-zinc-300 py-2 px-5 rounded mb-2 xs:mb-none xs:mr-3 transition-all">
                    About
                </a>
                <a href="#projects" class="text-center block max-w-[150px] xs:inline-block bg-zinc-100 hover:bg-zinc-300 py-2 px-5 rounded mb-2 xs:mb-none mr-3 transition-all">
                    Projects
                </a>
                <a href="#posts" class="text-center block max-w-[150px] xs:inline-block bg-zinc-100 hover:bg-zinc-300 py-2 px-5 rounded mb-2 xs:mb-none mr-3 transition-all">
                    Posts
                </a>
            </div>
            <div class="my-10">
                <a class="icon" target="_blank" rel="noopener" href="{{ site.social.github }}" aria-label="GitHub">
                    <i class="fa-brands fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon" target="_blank" rel="noopener" href="{{ site.social.twitter }}" aria-label="Twitter">
                    <i class="fa-brands fa-twitter" aria-hidden="true"></i>
                </a>
                <a class="icon" target="_blank" rel="noopener" href="{{ site.social.linkedin }}" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon" target="_blank" rel="noopener" href="mailto:{{ $elem.link }}" aria-label="Email">
                    <i class="fas fa-envelope" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>