<li class="rounded bg-white shadow cursor-pointer border-l-4 border-sky-700 hover:shadow-md">
    <a href="{{ include.url }}" class="flex flex-wrap items-start mb-5">
        <div class="flex flex-row flex-1 py-5 px-7">
            <div class="flex-auto w-64">
                <p class="text-lg font-semibold mb-1.5">{{ include.title }}</p>
                <p class="text-sm font-normal text-gray-500">
                    {{ include.excerpt | strip_html | strip_newlines | truncatewords: 20 }}  
                </p>
            </div>
            <div class="flex-auto w-8 text-right">
                <p class="text-gray-400 text-sm">{{ include.date | date: "%b %d, %Y" }}</p>
            </div>
        </div>
    </a>
</li>