<li class="rounded bg-white drop-shadow-md cursor-pointer border-l-4 border-sky-700 hover:shadow-md">
    <a href="{{ include.url }}" class="flex flex-wrap items-start mb-4">
        <div class="flex flex-row flex-1 p-6">
            <div class="flex-auto w-44 xs:w-96">
                <p class="font-semibold mb-1.5 text-base sm:text-lg md:text-xl">
                    {{ include.title }}
                </p>
                <p class="font-normal text-gray-600 text-sm sm:text-base md:text-sm lg:text-base">
                    {{ include.excerpt | strip_html | strip_newlines | truncatewords: 25 }}  
                </p>
            </div>
            <div class="flex-auto hidden sm:block w-1 xs:w-2 text-right text-xs sm:text-base">
                <p class="text-slate-500">{{ include.date | date: "%b %d, %Y" }}</p>
            </div>
        </div>
    </a>
</li>