<a href="{{ include.url }}" class="cursor-pointer"> 
    <div class="flex flex-row bg-white shadow-md rounded hover:shadow-lg border-l-4 border-sky-700">
        <div class="p-6 relative w-full">
            <h3 class="mb-2 font-bold text-base sm:text-lg md:text-base lg:text-xl">{{ include.title }}</h3>
            <p class="text-gray-700 text-sm sm:text-base md:text-sm lg:text-base">{{ include.desc }}</p>
            <div class="absolute bg-blue-800 text-white text-xs md:text-sm font-medium mr-2 px-2.5 py-0.5 rounded-full top-5 right-0.5">
                {{ include.tag }}
            </div>
        </div>
    </div>
</a>