<div class="bg-white rounded-lg drop-shadow-md project-wide">
    <a href="{{ include.url }}" class="mb-4 cursor-pointer">
        <div class="flex">
            <img class="max-w-[150px] max-h-[150px] rounded-l-lg flex-1 flex-shrink-0" src="{{ include.thumbnail }}" alt="Project Image">  
            <div class="flex-1r p-5">
                <h3 class="font-semibold mb-1.5 text-lg sm:text-xl">{{ include.title }}</h3>
                <p class="text-slate-500 text-sm xs:text-base">{{ include.desc }}</p>
            </div>
        </div>
    </a>
</div>
<div class="bg-white rounded-lg shadow-lg min-h-[380px] max-w-[224px] project-tall">
    <a href="{{ include.url }}" class="mb-4 cursor-pointer">
        <img src="{{ include.thumbnail }}" alt="Project 1 Thumbnail" class="w-full h-44 sm:h-52 md:h-56 rounded-t-lg">
        <div class="px-6 py-4">
            <h3 class="font-semibold mb-1.5 text-xl">{{ include.title }}</h3>
            <p class="text-slate-500">{{ include.desc }}</p>
        </div>
    </a>
</div>