<section class="bg-zinc-50 text-center">
    <div class="inner-container">
        <p class="font-bold text-base xs:text-xl sm:text-2xl">
            "More than 500 million years ago, vision became the primary driving force of evolution's &#x2018;big bang&#x2019;, the Cambrian Explosion, which resulted in explosive speciation of the animal kingdom. 500 million years later, AI technology is at the verge of changing the landscape of how humans live, work, communicate, and shape our environment."
        </p>
        <p class="mt-5 text-sm xs:text-lg">
            Fei-Fei Li
        </p>
    </div>
</section>