---
---

@tailwind base;
@tailwind utilities;
@tailwind components;

$link-color: rgb(37, 99, 235);
$base-color: rgb(31, 41, 55);
$base-font: 'Space Grotesk', 'Source Code Pro', monospace;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

body {
    color: $base-color;
    margin: 0 auto;
    font-family: $base-font;
    font-weight: 400;
    color: rgb(17, 24, 39);
    -webkit-font-smoothing: antialiased !important;
}
section {
    padding: 5rem 0;
}
@media screen and (min-width: 475px) {
    section {
        padding: 6rem 0;
    }
}
blockquote p {
    font-style: normal;
    quotes: none;
}
.inner-container {
    margin: 0 auto;
    max-width: 85%;
}
.inner-container h2 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.875rem;
}
@media screen and (min-width: 475px) {
    .inner-container h2 {
        margin-bottom: 1.25rem;
        font-size: 2rem;
    }
}
@media screen and (min-width: $md) {
    .inner-container {
        max-width: 44rem;
    }
}
@media screen and (min-width: $lg) {
    .inner-container {
        max-width: 58rem;
    }
    #highlight .inner-container {
        max-width: 62rem;
    }
}
// For posts and projects
.code-view-link {
    color: white !important;
    text-decoration: none;
}
.page-content {
    padding-left: 24px;
    padding-right: 24px;
}
.page-content h1 {
    font-size: 2.25rem;
    margin: 44px 0px 20px 0px;
}
.page-content h1,
.page-content h2,
.page-header .prose h1 {
    font-weight: 700;
    font-family: $base-font;
    text-align: center;
    margin-top: 75px;
}
.prose {
    font-size: 16px;
    max-width: 44rem;
    margin-bottom: 40px;
    margin-top: 50px;
    line-height: 30px;
}
@media screen and (min-width: $sm) {
    .prose {
        font-size: 18px;
    }
}
@media screen and (min-width: $md) {
    .page-content {
        max-width: 48rem;
        margin: 0px auto;
        padding: 0;
    }
    .page-content h1 {
        margin-top: 100px;
    }
}
.prose h1 {
    margin: 100px 0px 12px 0px;
}
.prose h2 {
    margin: 50px 0px 30px 0px;
}
.prose li p {
    margin: 12px 0px;
}
hr {
    max-width: 200px;
    border-radius: 10px;
    border-width: 2px;
    margin: 0 auto;
}
.prose hr {
    max-width: 50%;
    border-width: 1px;
    margin-bottom: 0px;
}
.inner-container hr {
    margin: 16px 0px;
    max-width: 125px;
}
figure {
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
figure img {
    margin: 0 auto;
}
.page-header {
    margin-bottom: 2.5rem;
}
#highlight img {
    max-width: 175px;
    max-height: 175px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    filter: brightness(100%);
}
@media screen and (min-width: $sm) {
    #highlight img {
        max-width: 200px;
        max-height: 200px;
    }
}
@media screen and (min-width: $md) {
    #highlight img {
        max-width: 200px;
        max-height: 200px;
    }
}
@media screen and (min-width: $lg) {
    #highlight img {
        margin-top: 0rem;
        max-width: 225px;
        max-height: 225px;
    }
}
#highlight a {
    text-decoration: none;
    color: $link-color;
}
#projects-container {
    min-height: 500px;
    background-color: rgb(247, 247, 247);
}
#projects-all-link {
    text-decoration: underline;
    color: $link-color;
}
#projects-list,
#posts-list {
    list-style-type: none;
    padding: 0;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.left-column {
    height: 100%;
    margin: 0;
}
.right-column {
    height: 100%;
}
#double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
@media screen and (min-width: $md) {
    .column {
        flex: 1;
    }
    #double-column {
        flex: 2;
    }
}
.icon {
    text-decoration: none;
    margin-right: 20px;
}
.icon i {
    color: rgb(100,100,100);
    font-size: 1.75em;
    transition: all 0.1s ease-in-out;
}
.icon i:hover {
    filter: brightness(80%);
}
footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* Code syntax highlighting */
.highlight pre { 
    background-color: #272822;
    border-radius: 5px;
    padding: 10px 14px;
    font-size: 0.875rem;
}
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
