---
---

@tailwind base;
@tailwind utilities;
@tailwind components;

$link-color: rgb(37, 99, 235);
$base-font: ui-monospace, 'Source Code Pro', monospace;

body {
    margin: 0 auto;
    font-family: $base-font;
    font-weight: 400;
    color: rgb(17, 24, 39);
}
section {
  padding: 100px 0px;
}
.page-content {
    max-width: 44rem;
    margin: 0px auto;
    padding-left: 24px;
    padding-right: 24px;
}
.page-content h1 {
    font-size: 2rem;
    margin: 44px 0px 36px 0px;
}
.page-content h1,
.page-content h2 {
    font-weight: bold;
    font-family: $base-font;
    text-align: center;
}
.prose {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    max-width: 44rem;
    margin-bottom: 75px;
}
.prose h1 {
    margin: 48px 0px 12px 0px;
}
.prose h2 {
    margin: 48px 0px 18px 0px;
}
.prose li p {
    margin: 12px 0px;
}
hr {
    max-width: 300px;
    border-radius: 10px;
    border-width: 2px;
    margin: 0 auto;
}
figure {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}
figure img {
    margin: 0 auto;
}
.page-header {
    margin-bottom: 48px;
}
#highlight {
    padding: 40px 0px;
    text-align: left;
    max-width: 900px;
}
@media screen and (min-width: 768px) {
    #highlight {
        padding: 125px 0px;
    }
}
#highlight img {
    border-radius: 50%;
    max-width: 170px;
    max-height: 170px;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    filter: brightness(98%);
}
#highlight a {
    text-decoration: underline;
    color: $link-color;
}
#projects-container {
    min-height: 500px;
    background-color: rgb(247, 247, 247);
}
#projects-list,
#posts-list {
    list-style-type: none;
    padding: 0;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.left-column {
    height: 100%;
    margin: 0 auto;
}
.right-column {
    height: 100%;
    margin-top: 20px;
    line-height: 30px;
}
.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
@media screen and (min-width: 768px) {
    .column {
        flex: 1;
    }
    .right-column {
        margin: 20px 0px;
    }
    .double-column {
        flex: 2;
    }
}

/* Code syntax highlighting */
.highlight pre { 
    background-color: #272822;
    border-radius: 5px;
    padding: 10px 14px;
    font-size: 0.875rem;
}
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */