<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>
        {% include navbar.html %}
        {{ content }}
        {% include footer.html %}
        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script>
            var app = document.getElementById("name");
            var typewriter = new Typewriter(app, {delay: 50});
            typewriter.typeString("Hi! ").pauseFor(500).typeString("I'm Harry.").start();
        </script>
    </body>
</html>