---
layout: default
---
<div class="page-content">
    <div class="prose">
        <header class="page-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="text-center text-gray-500 text-base">
                by Harry Baines · {{ page.date | date_to_string: "ordinal", "US" }}
            </p>
            {% include read-time.html %}
        </header>
        <div class="text-center mb-12">
            {% if page.demo_link != nil %}
                {% include view-link.html demo_link=page.demo_link btn_text='Demo' new_tab=true %}
            {% endif %}
            {% if page.code_link != nil %}
                {% include code-link.html code_link=page.code_link btn_text='Code' new_tab=true %}
            {% endif %}
        </div>
        <article class="post-content">
            {{ content | toc }}
        </article>
    </div>
</div>
{% include newsletter.html %}